@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
}

.imagez {
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.menuButton {
    background-color: #172214;
}
